@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');

.navigationbar {
    background-color: #20232a;
    color: #ffffff;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    left: 0;
}

.navi {
    padding-left: 20px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
}

.navContent {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
}

.navLinks {
    position: relative;
    flex: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    left: 3%;
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-flex: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
}

.navLink {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #ffffff;
    transition: color 0.2s ease-out;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 300;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -webkit-transition: color 0.2s ease-out;
    -moz-transition: color 0.2s ease-out;
    transition: 0.3s;
}

.navLink:hover {
    color: cyan;
    transition: 0.3;
}

.view {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    justify-content: stretch;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -webkit-flex-grow: 1;
    -webkit-flex-shrink: 0;
    -webkit-flex-basis: auto;
    -webkit-box-pack: stretch;
    -webkit-justify-content: stretch;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
}

.pagecontent {
    width: 100%;
}

.mainHead {
    background-color: #282c34;
    color: #ffffff;
}

.mainHeadContent {
    padding-top: 170px;
    padding-bottom: 120px;
}

.mainHeadLayer1 {
    position: relative;
}

.mainHeadLayer2 {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.title {
    color: #61dafb;
    text-align: center;
    margin: 0;
    font-size: 45px;
    letter-spacing: 0.01em;
}

.undertitle {
    padding-top: 15px;
    text-align: center;
    font-size: 24px;
    letter-spacing: 0.01em;
    font-weight: 300;
}

.mainHeadFinal {
    padding-top: 40px;
    flex-wrap: wrap;
    justify-content: center;
    -webkit-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
}

.final {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    justify-content: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -webkit-flex-grow: 0;
    -webkit-flex-shrink: 1;
    -webkit-flex-basis: auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
}

.checkButton {
    display: inline-block;
    font-size: 16px;
    background-color: #61dafb;
    color: #000000;
    padding: 10px 25px;
    white-space: nowrap;
    transition: background-color 0.2s ease-out;
    -webkit-transition: background-color 0.2s ease-out;
    -moz-transition: background-color 0.2s ease-out;
}

.checkButton:hover {
    background-color: cyan;
    cursor: pointer;
    transition: 0.3;
}

.quotesBlock {
    display: flex;
    text-align: center;
    flex-direction: row !important;
    box-sizing: border-box;
    padding: 50px;
}

.platon_quote, .ondatra_quote, .egor_quote {
    position: relative;
    margin-top: 50px;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
}

.itsFlex {
	margin-top: 20px;
	font-size: 30px;
	font-weight: 600;
}

.flexText {
	margin-top: 15px;
	font-size: 20px;
	color: #6B6B6B;
	text-align: center;
}